* {
    @import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap';
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --purple-200: #9a7bd1;
    --purple-500: #6b36c8;
    --purple-800: #441f88;
    --black-800: #171717;
    --gray-200: #cccccc;
    --white: #f9f9f9;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--gray-200);
    color: var(--black-800);
    font-family: sans-serif;
}

h1,h2,h3 {
    font-weight: 700;
}

h1 {
    margin: 0;
    color: var(--white);
    font-size: 2rem;
    line-height: 1;
}

h2 {
    color: var(--purple-800);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    display: inline-block;
    border-bottom: 3px solid var(--purple-500);
    padding-bottom: 5px;
    padding: 1rem, 0;
    font-weight: 600;
}

h3 {
    color: var(--white);
    font-size: 1rem;
    text-align: center;
}

p {
    font-size: 1.1rem;
    line-height: 1,8rem;
    color: #4a4a4a;
    text-align: justify;
}

/* Seções gerais */
section {
    width: 90%;
    margin: 2rem auto;
}

/* Header e Menu */
header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background: linear-gradient(90deg, var(--purple-800) 0%, var(--purple-500) 100%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a {
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background 0,3s ease;
    display: inline-block;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    color: var(--white);
}

/* About */
#about article {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}

#about img {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--purple-500);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    flex-shrink: 0;
}

#about img:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0px 10px 30px rgba(107, 54, 200, 0.5)
}
#about p {
    flex: 1;
}

/* Video */
#video figure {
    display: flex;
    justify-content: center;
}

#video iframe {
    border-radius: 1rem;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    border: 4px solid var(--white);
}

/* Footer */
footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: var(--white);
    background-color: var(--purple-500);
    font-weight: bold;
    text-align: center;
}

footer section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

footer img {
    width: 2rem;
    height: 2rem;
    display: block;
    filter: invert(100%);
    transition: filter 0.3s;
}

footer img:hover {
    filter: brightness(0)
            saturate(100%)
            invert(65%)
            sepia(59%)
            saturate(2437%)
            hue-rotate(213deg)
            brightness(86%)
            contrast(88%);
}

/* Contato */
.main_contato {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

form input, textarea {
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: none;
    font-size: 1rem;
}

textarea {
    resize: none;
    height: 5rem;
}

form button {
    background: var(--purple-800);
    color: var(--white);
    padding: 0.75rem;
    border: 1px solid var(--purple-500);
    border-radius: 0.75rem;
    font-weight: 700;
    cursor: pointer;
}

form button:hover {
    background: var(--purple-500);
}

form span {
    color: #ff0000;
    font-size: 0.75rem;
}

/* Mapa */
.article_mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
}

.article_mapa address {
    width: 75%;
}

.article_mapa iframe {
    align-self: center;
}

#about article {
    transition: transform 0.3s ease;
}

#about article:hover {
    transform: translateY(-10px);
}

/* --- ANIMAÇÕES --- */

@keyframes subirSuave {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#about, #video, footer {
    animation: subirSuave 1s ease-out forwards;
}

#video {
    animation-delay: 0.3s;
    opacity: 0;
    animation-fill-mode: forwards;
}